.leg{
    color: blue;
    background-color: antiquewhite;
}
.legit{
    color:skyblue;
}
.lef{
    margin-left: 20%;
}
h1{
    font-family: Arial;
}
.ii{
    margin-left: 30%;
}
.flf{
    font-style: 6px;
}
.left{
    font-style: 6px;
}